<h1>KwizKlicker Lobby</h1>

<p>
	<strong>For Teacher: </strong><br>
	<a href="/rooms/new">Create Room</a><br>
	Add Questions<br>
	Present Quiz<br>
</p>

<p>
	<strong>For Students: </strong><br>
	Join room<br>
</p>
