
<%= render "rooms/quizjs.html.erb" %>

<h1><%= @room.name %></h1>
Your name is <span><%= @username %></span>
<h2>Awaiting question.</h2>

<% if @has_res %>
    Your last response was: <i><%= @last_res_text %></i>
<% else %>
    You haven't answered any questions yet.
<% end %>