/* ...
*= require_self
*= require_tree .
*/

body {
    font-size: 30px;
    font-family: Homospace;
    font-weight: lighter;
    background-color: #1abc9c;
    margin-left: 150px;
    border-color: black;
    border-width: thick;
    border-style: solid;
    border-radius: 16px 24px;
    text-decoration: none;
    padding-left: 40px;
    margin-top: 0px;
    margin-right: 0px;
}

.Goodlooking {
    /*For texts*/
    color: black;
    font-size: 25px;
    font-family: 'Segoe UI';
    text-align: center;
}

.imagec {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#nicebox {
    background-color: #474e5d;
    font-family: 'Segoe UI';
    color: white;
    font-size: 24px;
    padding: 10px;
    margin-top: 0px;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    border-radius: 30px 2px;
    width: 60%;
    margin-bottom: 40px;
}

b {
    border: 5px dotted yellow;
    font-size: 25px;
}

p:first-child {
    font-style: italic;
    font-weight: bolder;
}

li a {
    text-decoration: none;
    color: white;
    font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
    padding-top: 0px;
    padding: 40px;
    font-size: medium;
    padding-bottom: 29px;
    border-radius: 40px;
}

li {
    display: inline;
}

li a:hover {
    background-color: rgb(85, 86, 21);
}

p a:visited {
    color: black;
}

div:last-of-type {
    font-size: 1.5em;
}

article {
    width: 70vw;
}

#header {
    /*That is mean the box will not disappear when we scroll down*/
    position: fixed;
    background-color: silver;
    width: 90%;
    height: 70px;
    z-index: 10;
    /* if z-index is positive ,then the other elements will go behind the box */
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
    top: 0px;
    right: 0px;
    left: 180px;
}

.box {
    border: solid 20px thin rgb(221, 10, 81);
    width: 150px;
    height: 400px;
    display: inline-block;
    border-top: 0px;
}

h4 {
    font-size: medium;
}

#top {
    display: inline;
}

.small_space {
    margin-top: 100px;
    margin-bottom: 100px;
}

.medium_space {
    margin-top: 200px;
    margin-bottom: 200px;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/*-------------*/
.button2 {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button2:hover span {
  padding-right: 25px;
}

.button2:hover span:after {
  opacity: 1;
  right: 0;
}

.RoomItem{
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration:none;
    font-size: 24px;
    font-family: Monospace;
}

.RoomItem:hover{
    background-color:orange;
    padding-top: 0px;
    padding-bottom: 0px; 
    padding-right: 25px;
    text-decoration:none;
}

.RoomItem:active{
    background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

li:hover{
    background-color:Orange;
    padding-right: 25px;
}

.roomList{
    background-color:rgb(255, 230, 200);
    border:solid 5px;
}

.roomListBorder{
    background-color: #ffffff;
    border: 5px solid black;
    radius: 3px;
}

.colors2{
    background-color:rgb(255, 215, 142)
}

.Input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

Input:focus {
    border: 3px solid #573311;
}